adal>=0.4.5
appdirs>=1.4.3
asn1crypto>=0.21.1
azure-kusto-data>=0.0.1
azure-storage-blob>=1.1.0
azure-storage-common>=1.1.0
azure-storage-queue>=1.1.0
azure-nspkg>=1.0.0
cffi>=1.9.1
cryptography>=1.8.1
idna>=2.5
packaging>=16.8
pycparser>=2.17
PyJWT>=1.4.2
pyparsing>=2.2.0
python-dateutil>=2.6.0
requests>=2.13.0
six>=1.10.0