# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: release
permissions:
  checks: write
  pull-requests: write
  packages: write
  deployments: write
  contents: write
  id-token: write

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: release
    steps:
    - uses: actions/checkout@v4
    - name: Install uv and set the python version
      uses: astral-sh/setup-uv@v6
      with:
        python-version: '3.9'
        enable-cache: true
    - name: Build
      run: uv build --all
    - name: Publish
      uses: pypa/gh-action-pypi-publish@release/v1.12
      with:
        packages-dir: dist
    - name: Release
      uses: docker://antonyurchenko/git-release:latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        args: dist/*.tar.gz dist/*.whl
